[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[dev-packages]
pylint = "*"
yapf = "*"
pdbpp = "*"
flask-shell-ipython = "*"
pytest-cov = "*"
rope = "*"

[requires]
python_version = "3.5"

[packages]
dynaconf = {extras = ["yaml"],version = "*"}
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
requests = "*"
pymysql = "*"
flask-restplus = "*"
gunicorn = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
jupyter = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
ipykernel = "*"
celery = "*"
flask-caching = "*"
