[[source]]
url = "https://pypi.org/simple"
name = "pypi"
verify_ssl = true

[scripts]
test = "bash scripts/tests.sh"
clean = "bash scripts/clean_pyc.sh"
dev = "flask run"
gunicorn = "bash scripts/server.sh"
uwsgi = "bash scripts/uwsgi.sh"
celery = "bash scripts/celery.sh"

[dev-packages]
pylint = "*"
yapf = "*"
flask-shell-ipython = "*"
pytest-cov = "*"
rope = "*"
pytest-mock = "*"
pdbpp = "*"

[requires]
python_version = "3.5"

[packages]
dynaconf = {version = "*",extras = ["yaml"]}
flask-jwt-extended = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
requests = "*"
pymysql = "*"
flask-restplus = "*"
gunicorn = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-httplib2 = "*"
google-auth-oauthlib = "*"
jupyter = "*"
numpy = "*"
pandas = "*"
matplotlib = "*"
ipykernel = "*"
celery = "*"
flask-caching = "*"
redis = "*"
flask-socketio = "*"
gunicorn-websocket = "*"
gevent = "*"
websocket-client = "*"
sqlalchemy-jsonfield = "*"
uwsgi = "*"
gevent-websocket = "*"
gevent-tools = "*"
